.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 4rem;
  flex-shrink: 0;
  padding-top: 1rem;

  @include media($tablet) {
    padding-top: 0;
  }
  @include media($desktop) {
    margin-top: 2rem;
  }
  &__logo {
    margin-left: $space-600;
    width: 2.5rem;
    height: 2.5rem;
    align-self: center;
    justify-self: center;
    margin-top: -0.5rem;
  }

  &-line {
    display: none;

    @include media($tablet) {
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.25);
      left: 15%;
      z-index: 0;
      pointer-events: none;

      @include media($desktop) {
        left: 13%;
      }

      @include media($desktop-lg) {
        left: 10%;
      }
    }
  }
}
