@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.6;
  }
  10% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0.55;
  }
  20% {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0.5;
  }
  30% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.45;
  }
  40% {
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.4;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.35;
  }
  60% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0.25;
  }
  70% {
    transform: translate(-50%, -50%) scale(2.1);
    opacity: 0.15;
  }
  80% {
    transform: translate(-50%, -50%) scale(2.4);
    opacity: 0.1;
  }
  90% {
    transform: translate(-50%, -50%) scale(2.7);
    opacity: 0.05;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

/* rotate planet */
@keyframes rotate-planet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
